.reset{
  color: azure;
  background-color: red;
  padding: 13px;
  margin: 6px;
  border-color: red;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

input[type='button']{
  color: azure;
  background-color: rgb(29, 216, 32);
  padding: 13px;
  margin: 6px;
  border-color: rgb(29, 216, 32);
  font-size: 18px;
  font-weight:bold;
  border-radius: 5px;
  font-style: normal;
}